<header class="article-header">
    <a href="{{ .Permalink }}">
    <h1 class="article-title" itemprop="name">
        {{ .Title }}
    </h1>
    </a>
    <div class="article-meta">
        <div class="article-date">
            <i class="fa fa-calendar"></i>
            <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>
            &middot;
            {{ .WordCount }}
            {{ with .Site.Data.l10n.articles.words }}{{.}}{{end}}
            &middot;
            {{ .ReadingTime }}
            {{ with .Site.Data.l10n.articles.readingtime }}{{.}}{{end}}
        </div>
        <div class="article-category">
            {{ range .Params.categories }}
            <i class="fa fa-folder"></i>
            <a class="article-category-link" href="{{ $.Site.BaseURL }}categories/{{ . | lower }}">{{ . }}</a>
            {{ end }}
        </div>
    </div>
</header>
