<section id="main">
    {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
    {{ range $paginator.Pages }}
    <article class="article article-type-post" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if isset .Params "banner" }}
            <a href="{{ .Permalink }}" itemprop="url">
                <img src="{{ .Site.BaseURL }}{{ .Params.banner }}" class="article-banner"> {{ end }}
            </a>
            <header class="article-header">
                <h1 itemprop="name">
                    <a class="article-title" href="{{ .Permalink }}">{{ .Title }}</a>
                </h1>
                <div class="article-meta">
                    <div class="article-date">
                        <i class="fa fa-calendar"></i>
                        <time datetime="{{ .Params.date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>
                    </div>
                    {{ if gt (len .Params.categories) 0 }}
                    <div class="article-category">
                        <i class="fa fa-folder"></i>
                        {{ range .Params.categories }}
                        <a class="article-category-link" href="{{ $.Site.BaseURL }}categories/{{ . }}">{{ . }}</a>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </header>
            <div class="article-entry" itemprop="articleBody">
                <p>
                    {{ .Summary }}
                    <br>
                </p>
                <p class="article-more-link">
                    <a href="{{ .Permalink }}">
                        {{with .Site.Data.i10n.articles.read_more}}{{.}}{{end}}
                    </a>
                </p>
            </div>
            {{ partial "article_footer" . }}
        </div>
    </article>
    {{ end }}

    {{ partial "pagination" . }}
</section>
<!-- // main section -->
