<section id="main">
    {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
    {{ range $paginator.Pages }}
    <article class="article article-type-post" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
            <a href="{{ .Permalink }}" itemprop="url">
                <img src="{{ .Params.banner | absURL }}" class="article-banner">
            {{ end }}
            </a>

            {{ partial "article_header" . }}
            <div class="article-entry" itemprop="articleBody">
                <p>
                    {{ printf "%s" .Summary | markdownify }}
                    <br>
                </p>
                <p class="article-more-link">
                    <a href="{{ .Permalink }}">
                        {{with .Site.Data.l10n.articles.read_more}}{{.}}{{end}}
                    </a>
                </p>
            </div>
            {{ partial "article_footer" . }}
        </div>
    </article>
    {{ end }}

    {{ partial "pagination" . }}
</section>
<!-- // main section -->
