<nav id="page-nav">
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    {{ if .Paginator.HasPrev }}
        <a class="extend prev" rel="prev" href="{{ .Site.BaseURL }}{{.Paginator.Prev.URL}}">
            « {{with .Site.Data.l10n.pagination.previous}}{{.}}{{end}}
        </a>
    {{ end }}
    {{ if .Paginator.HasNext }}
        <a class="extend next" rel="next" href="{{ .Site.BaseURL }}{{.Paginator.Next.URL}}">
            {{with .Site.Data.l10n.pagination.next}}{{.}}{{end}} »
        </a>
    {{ end }}
{{ end }}
</nav>
