{{ with .Site.Params.social.github }}
<td><a href="//github.com/{{.}}" target="_blank" title="Github"><i class="fa fa-github"></i></a></td>
{{ end }}

{{ with .Site.Params.social.bitbucket }}
<td><a href="//bitbucket.com/{{.}}" target="_blank" title="Bitbucket"><i class="fa fa-bitbucket"></i></a></td>
{{ end }}

{{ with .Site.Params.social.jsfiddle }}
<td><a href="//jsfiddle.com/{{.}}" target="_blank" title="JSFiddle"><i class="fa fa-jsfiddle"></i></a></td>
{{ end }}

{{ with .Site.Params.social.codepen }}
<td><a href="//codepen.io/{{.}}" target="_blank" title="Codepen"><i class="fa fa-codepen"></i></a></td>
{{ end }}

{{ with .Site.Params.social.foursquare }}
<td><a href="//foursquare.com/{{.}}" target="_blank" title="Foursquare"><i class="fa fa-foursquare"></i></a></td>
{{ end  }}

{{ with .Site.Params.social.dribbble }}
<td><a href="//dribbble.com/{{.}}" target="_blank" title="Dribbble"><i class="fa fa-dribbble"></i></a></td>
{{ end }}

{{ with .Site.Params.social.deviantart }}
<td><a href="//{{.}}.deviantart.com/" target="_blank" title="Deviantart"><i class="fa fa-deviantart"></i></a></td>
{{ end }}

{{ with .Site.Params.social.behance }}
<td><a href="//behance.net/{{.}}" target="_blank" title="Behance"><i class="fa fa-behance"></i></a></td>
{{ end }}

{{ with .Site.Params.social.flickr }}
<td><a href="//flickr.com/photos/{{.}}" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a></td>
{{ end }}

{{ with .Site.Params.social.instagram }}
<td><a href="//instagram.com/{{.}}" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></td>
{{ end }}

{{ with .Site.Params.social.youtube }}
<td><a href="//youtube.com/{{.}}" target="_blank" title="Youtube"><i class="fa fa-youtube"></i></a></td>
{{ end }}

{{ with .Site.Params.social.vimeo }}
<td><a href="//vimeo.com/{{.}}" target="_blank" title="Vimeo"><i class="fa fa-vimeo"></i></a></td>
{{ end }}

{{ with .Site.Params.social.vine }}
<td><a href="//vine.co/{{.}}" target="_blank" title="Vine"><i class="fa fa-vine"></i></a></td>
{{ end }}

{{ with .Site.Params.social.medium}}
<td><a href="//medium.com/@{{.}}" target="_blank" title="Medium"><i class="fa fa-medium"></i></a></td>
{{ end }}

{{ with .Site.Params.social.wordpress }}
<td><a href="//{{.}}.wordpress.com" target="_blank" title="Wordpress"><i class="fa fa-wordpress"></i></a></td>
{{ end }}

{{ with .Site.Params.social.tumblr }}
<td><a href="//{{.}}.tumblr.com" target="_blank" title="Tumblr"><i class="fa fa-tumblr"></i></a></td>
{{ end }}

{{ with .Site.Params.social.xing }}
<td><a href="//xing.com/profile/{{.}}" target="_blank" title="Xing"><i class="fa fa-xing"></i></a></td>
{{ end }}

{{ with .Site.Params.social.linkedin }}
<td><a href="//linkedin.com/in/{{.}}" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></td>
{{ end }}

{{ with .Site.Params.social.slideshare }}
<td><a href="//slideshare.com/{{.}}" target="_blank" title="Slideshare"><i class="fa fa-slideshare"></i></a></td>
{{ end }}

{{ with .Site.Params.social.stackoverflow }}
<td><a href="//stackoverflow.com/users/{{.}}" target="_blank" title="Stackoverflow"><i class="fa fa-stackoverflow"></i></a></td>
{{ end }}

{{ with .Site.Params.social.reddit }}
<td><a href="//reddit.com/user/{{.}}" target="_blank" title="Reddit"><i class="fa fa-reddit"></i></a></td>
{{ end }}

{{ with .Site.Params.social.pinterest }}
<td><a href="//pinterest.com/{{.}}" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></td>
{{ end }}

{{ with .Site.Params.social.googleplus }}
<td><a href="//plus.google.com/+{{.}}" target="_blank" title="Google+"><i class="fa fa-googleplus"></i></a></td>
{{ end }}

{{ with .Site.Params.social.facebook }}
<td><a href="//facebook.com/{{.}}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></td>
{{ end }}

{{ with .Site.Params.social.twitter }}
<td><a href="//twitter.com/{{.}}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></td>
{{ end }}
